@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>

<p>This Orcanode Monitor is maintained by Dave Thaler out of the
    <a href="https://github.com/orcasound/orcanode-monitor/">orcasound/orcanode-monitor GitHub repository</a>.
    Feedback can be provided there via GitHub Issues.
</p>
